.dispnone{
    display: none !important;
}
/*@@@@@@@@@@ Modal @@@@@@@@@@*/
#orderNotificationLoadingModal{
    width: 75vw;
    height: 85vh;
    justify-content: center;
    align-items: center;
    display :none;
    position: absolute;
    top: 100px;
    z-index: 999;
}
.orderNotificationLoadingModal-active{
    display: flex !important;
}
#orderNotificationLoadingModalContainer{
    width: 300px;
    height: 150px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 5px 5px 10px 1px rgb(128, 128, 128);
}
#orderNotificationLoadingModalContainerHeader{
    width: 300px;
    height: 50px;
    text-align: left;
    text-align: center;
    box-sizing: border-box;
    color: #00d1b2;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
}
#orderNotificationLoadingModalContainerBody{
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinnerNotifiaction {
    width: 50px;
    height: 60px;
    text-align: center;
    font-size: 10px;
}
.spinnerNotifiaction > div {
    background-color: #00d1b2;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: stretchDelay 1.2s infinite ease-in-out;
    animation: stretchDelay 1.2s infinite ease-in-out;
}
.spinnerNotifiaction .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinnerNotifiaction .rect3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}
.spinnerNotifiaction .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}
.spinnerNotifiaction .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}
@-webkit-keyframes stretchDelay {
    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4);
    }
    20% {
        -webkit-transform: scaleY(1);
    }
}
@keyframes stretchDelay {
    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
    }
}
/*@@@@@@@@@@ Modal @@@@@@@@@@*/

.btn-orderNotify{
    width: 200px;
    height: 40px;
    border: none;
    margin: 10px auto;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    background-color: #1bd352;
    border: 1px solid #1bd352;
    transition: .5s all ease;
    cursor: pointer;
}
.btn-orderNotify:focus-visible{
    border-color: #00d1b2;
    background-color: red;
}
.btn-orderNotify:hover{
    background-color: white;
    color: #1bd352;
}
input:focus-visible{
    outline: none;
}

.w-full{
    width: 1200px !important;
}

/* Genel Kodlar */
#woocommerceStatuesContainer{
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 50px;
}
.woocommerceStatuesContainerItem, .definedNotifyContainerItem{
    border: 2px dashed #5F85BD;
    color: #adc1df;
    min-width: 100px;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    margin: 0 0 10px 3px;
}
.woocommerceStatuesContainerItem{
    cursor: all-scroll;
}
#definedMailRulesContainer{
    width: 100%;
    min-height: 250px;
    margin-top: 20px;
}
#definedRulesTemplates{
    width: 700px;
    min-height: 250px;
}
#definedRulesTemplatesHeader{
    width: 90%;
    height: 40px;
    background-color: #91b0dd;
    margin: 0 auto;
    color: white;
    font-size: 18px;
    text-align: left;
    padding-left: 10px;
    box-sizing: border-box;
    line-height: 40px;
    font-weight: 700;
}
#definedRulesTemplatesBody{
    width: 90%;
    min-height: 100px;
    background-color: #b0c2dd;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.definedRulesRows{
    height: 50px;
    width: 100%;
    background-color: inherit;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}
.definedGroup{
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.definedGroupItem{
    width: 130px;
    text-align: center;
    font-weight: 600;
    color: white;
    font-size: 16px;
}
.definedGroupItemArrow{
    font-weight: 600;
    color: white;
    font-size: 16px;
    width: 40px;
}
#definedGroupOptions{
    width: 300px;
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: flex-end;
    padding-right: 10px;
    box-sizing: border-box;
    align-items: center;
}
.ruleButton{
    min-width: 80px;
    height: 36px;
    font-size: 12px;
    margin-left: 5px;
}
.deleteRule{
    border: 1px solid red;
    background-color: white;
    color: red;
}
.deleteRule:hover{
    background-color: red;
    color: white;
}
.goRule{
    border: 1px solid green;
    background-color: white;
    color: green;
}
.goRule:hover{
    background-color: green;
    color: white;
}
.goRule:active, .deleteRule:active{
    opacity: .7;
}

.draggableActive, .droppableActive{
    border-color: chocolate !important;
    color: chocolate !important;
}
.droppableOkey{
    border-color: green !important;
    color: green !important;
    font-size: 18px !important;
}
#newRuleMainContainer{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    border: 3px dashed #adc1df;
    box-sizing: border-box;
    padding: 0 10px;
    min-width: 400px;
}
#statusesMiddleContainer{
    width: 120px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    color: #91b0dd;
    margin: 0 20px;
}
.dropZones{
    min-width: 100px;
    padding: 0 5px;
    height: 40px;
    border: 2px dashed #5F85BD;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #adc1df;
}
#saveButtonDraggable{
    width: 120px;
    height: 40px;
    background-color: #5F85BD;
    border: 2px solid #5F85BD;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
#saveButtonDraggable:hover{
    background-color: white;
    color: #5F85BD;
}
#saveButtonDraggable:active{
    background-color: #5d98f1;
    color: white;
}
#infoBoxForMailTemplate{
    background-color:rgb(176,194,221);
    width:250px;
    padding:10px;
    box-sizing:border-box;
    color:white;
    border-radius: 10px;
}
#infoBoxForMailTemplateHeader{
    width:230px;
    padding:0;
    margin-bottom:20px;
    font-size:14px;
    font-weight:700;
    text-align:center;
}
#infoBoxForMailTemplateBody{
      width:230px;
      padding:0;
      text-align:left;
}
.infoBoxItem{
    width:230px;
    display:flex;
    height:22px;
    align-items:center;
    font-size:12px;
}
.infoBoxItemLeft{
    width:120px;
}
.infoBoxItemRight{
    width:110px;
    font-weight:700;
    cursor: grab;
}
.infoBoxItemRight:hover{
    color: #5f85bd;
    font-size: 13px;
}




.settingsButton{
    font-size: 18px;
    text-align: left;
    width: 100%;
    height: 75px;
    box-sizing: border-box;
    cursor: pointer;
    margin-bottom: 3px;
    line-height: 75px;
    padding-left: 10px;
    background-color: #5f85bd;
    border-left: 3px solid #5f85bd;
    color: white;
}
.privateMenuItem{
    display: none !important;
}
.settingsButton-active{
    color: #5f85bd;
    border-left: 3px solid #5f85bd;
    background-color: white;
    font-weight: 700;
    display: block !important;
}
.settingsButton:hover{
    opacity: .7;
}

.ou_body_right_item{
    width: 950px;
    min-height: 225px;
    display: none;
}
.ou_body_right_item-active{
    display: block !important;
}
#oa_mainContainer{
    width: 1200px;
    min-height: 300px;
    background-color: white;
    margin: 20px auto;
}
#oa_header{
    width: 100%;
    height: 75px;
    text-align: left;
    padding-left: 30px;
    box-sizing: border-box;
    line-height: 75px;
    background-color: #adc1df;
    font-size: 24px;
    font-weight: 500;
}
#oa_body{
    width: 100%;
    min-height: 225px;
    padding: 0;
    display: flex;
    flex-direction: row;
}
#oa_body_left{
    width: 250px;
    min-height: 225px;
    box-sizing: border-box;
}
#oa_body_right{
    width: 950px;
    min-height: 225px;
    box-sizing: border-box;
    padding: 0;
}