#telegramMainSettingsLayout{
    width: 950px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#telegramMainSettingsLayout > * {
    margin-bottom: 10px;
}
#telegramTokenContainer{
    background-color: #ADC1DF;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 910px;
    height: 70px;
}
#telegramTokenLabelContainer{
    width: 170px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#telegramTokenLabel{
    color: #5F85BD;
    font-size: 16px;
}
#telegramTokenInput{
    width: 500px;
    height: 40px;
    background-color: #5F85BD;
    padding: 0 10px;
    border: none;
    border-radius: 10px;
    margin: 0 25px;
    color: white;
    font-size: 16px;
    box-sizing: border-box;
}
#saveTelegramTokenButton{
    width: 150px;
    height: 40px;
    font-size: 16px;
    background-color: #1BD352;
    border: 1px solid #1BD352;
    color: white;
    border-radius: 10px;
    transition: .3s all ease;
}
#saveTelegramTokenButton:hover{
    background-color: white;
    color: #1BD352;
}
#saveTelegramTokenButton:active{
    transform: scale(1.05);
}
.info{
    background-color: #55CAD1 ;
    padding: 5px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    width: max-content;
    border-radius: 10px;
}
#activeTelegramUsersContainer{
    width: 910px;
    background-color: #ADC1DF;
}
#activeTelegramUsersHeader{
    width: 910px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}
#activeTelegramUsersHeaderText{
    font-size: 16px;
    font-weight: 700;
    color: #5F85BD;
}
#activeTelegramUsersHeaderLine{
    width: 400px;
    height: 3px;
    background-color: #5F85BD;
}
#activeTelegramUsersBody{
    width: 910px;
}
#activeTelegramUsersBodyHeader{
    width: 910px;
}
#activeTelegramUsersBodyHeaderRow{
    width: 910px;
    height: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.telegramBodyHeaderCol{
    font-weight: 700;
}
.telegramBodyCol{
    width: 25%;
    font-size: 16px;
    color: #5F85BD;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 22px;
    box-sizing: border-box;
}
#activeTelegramUsersBodyRows{
    width: 910px;
}
.activeTelegramUsersBodyRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 910px;
    height: 50px;
    transition: .3s all ease;
    margin-bottom: 15px;
}
.telegramRemoveUserButton{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    background-color: #FF0000;
    border: 1px solid #FF0000;
    color: white;
}
.telegramRemoveUserButton:hover{
    background-color: white;
    color: #FF0000;
}
.telegramRemoveUserButton:active{
    transform: scale(1.05);
}
.pendingRequestRow{
    width: 910px;
    height: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pendingRequestCol{
    width: 25%;
    padding-left: 22px;
    color: #5F85BD;
}
.telegramRequestButtons{
    width: 90px;
    height: 40px;
    border-radius: 10px;
    transition: .3s all ease;
    color: white;
    margin-right: 5px;
}
.telegramRequestButtons:active{
    transform: scale(1.05);
}
.telegramAcceptButton{
    background-color: #1BD352;
    border: 1px solid #1BD352;
}
.telegramRejectButton{
    background-color: #FF0000;
    border: 1px solid #FF0000;
}
.telegramAcceptButton:hover{
    color: #1BD352;
    background-color: white;
}
.telegramRejectButton:hover{
    color: #FF0000;
    background-color: white;
}
#telegramPendingRequestsContainer{
    width: 910px;
    background-color: #ADC1DF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#pendingRequestsHeader{
    width: 910px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}
#pendingRequestsHeaderText{
    font-size: 16px;
    font-weight: 700;
    color: #5F85BD;
}
#pendingRequestsHeaderLine{
    width: 400px;
    height: 3px;
    background-color: #5F85BD;
}
#telegramTemplatesMainContainer{
    min-height: 250px;
    padding-top: 25px;
    width: 950px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#telegramTemplatesLeftContainer{
    width: 700px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#telegramTemplatesLeftContainer > div{
    margin-bottom: 20px;
}
#telegramTemplatesRightContainer{
    width: 250px;
    min-height: 250px;
    margin-right: 20px;
}
#newtelegramRuleContainer{
    min-width: 400px;
}
#definedtelegramRulesContainer{
    width: 700px;
}
/* telegram message settings sayfasının kodları */

#telegramMessageSettingsLayout{
    width: 950px;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#telegramMessageLeftBar{
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#telegramMessageLeftBarHeader{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#telegramMessageLeftBarHeaderText{
    margin-right: 65px; 
    font-size: 18px;
    color: #5F85BD;
    font-weight: 500;
}
#telegramMessageSaveButton{
    width: 100px;
    height: 40px;
    background-color: #1BD352;
    border: 1px solid #1BD352;
    color: white;
    transition: .3s all ease;
    font-size: 14px;
    border-radius: 10px;
}
#telegramMessageSaveButton:hover{
    background-color: white;
    color:#1BD352;
}
#telegramMessageSaveButton:active{
    transform: scale(1.05);
}
#telegramMessageTextArea{
    background-color: #ADC1DF;
    padding: 10px;
    color: white;
    border: none;
    width: 550px;
    height: 200px;
    margin-top: 20px;
}
#telegramMessageRightBar{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}