#newMailRuleContainer{
    height: 100px;
}
#infoBoxContainer{
    width:250px;
}

/* Mail Kurallarının Kodları */

#mailTemplatesMainContainer{
    min-height: 250px;
    padding-top: 25px;
    width: 950px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#mailTemplatesLeftContainer{
    width: 700px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#mailTemplatesRightContainer{
    width: 250px;
    min-height: 250px;
    margin-right: 20px;
}

#mailTempalesEditMainContainer{
    width: 950px;
    min-height: 700px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 20px;
}
#mailTemplateLeftColumn{
    width: 600px;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#mailTemplateRightColumn{
    width: 350px;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mailTemplateSubject{
    width: 500px;
    margin-top: 10px;
}
#editorMailTemplate{
    width: 502px;
    height: 450px;
    margin-top: 10px;
}
#mailTemplateSubjectLabel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 18px;
    font-weight: 700;
    width: 500px;
    color: #5F85BD;
    position: relative;
}
#mailTemplateSubjectLabel::after{
    position: absolute;
    width: 50%;
    height: 1px;
    background-color: #5F85BD;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
#mailTemplateRightColumnHeader{
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mailRecipientsContainer{
    width: 300px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 30px;
}
.mailRecipientsItem{
    width: 300px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    position: relative;
}
.mailRecipientsItem:after{
    content: 'X';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    display: none;
    font-size: 26px;
}
.mailRecipientsItem:hover{
    color: red;
}
.mailRecipientsItem:hover:after{
    display: block;
}
#mailRecipientsItems{
    width: 300px;
    min-height: 0;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
#addRecipient{
    width: 280px;
    height: 40px;
    border: 2px dashed orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#mailRecipientsContainer{
    width: 300px;
    padding: 10px;
    box-sizing: border-box ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.mailRecipientsItemDefault{
  margin-bottom:10px;
}
#recipeAddContainer{
    display:flex;
    border: 2px dashed black;
    justify-content:center;
    align-items:center;
    opacity:.5;
    cursor:pointer;
}
#recipeAddContainer, #recipeInputContainer{
    width:300px;
    height:40px;
    padding:0;
}
.mailRecipientsContainerHeader{
    font-size: 20px;
}
.recipeAddPlus{
    font-size:30px;
    font-weight:900;
}
#recipeAddContainer:hover{
    opacity:1;
}

#recipeInputContainer{
    display: flex;
    flex-direction: row;
    margin: 15px 0;
    align-items: center;
    font-size: 16px;
    width: 500px;
    justify-content: space-between;
}
#recipeAddInput{
    width: 270px;
    box-sizing: border-box;
    height: 100%;
}
#recideAddPlusContainer{
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
}
#recideAddPlusContainer:hover{
    background-color: green;
    color: white;
}


/* Mail Şablonunun Kodları */

/* Genel Mail Ayarları Kısmının Kodları */
#generalSettingsMainContainer{
    width: 900px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#availableMailServicesContainer{
    width: 300px;
    height: auto;
}
#availableMailServicesContainer-header{
    margin: 20px 0;
    font-size: 16px;
}
#availableMailServicesContainer-footer{
    color: gray;
    margin-top: 10px;
}

#availableMailSettingsContainer{
    width: 600px;
    background-color: #ADC1DF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#availableMailSettingsHeader{
    font-size: 20px;
    width: 100%;
    height: 40px;
    text-align: center;
    padding-left: 20px;
    color: white;
    font-weight: 700;
}
.inputContainer{
    display: flex;
    flex-direction: row;
    margin: 15px 0;
    align-items: center;
    font-size: 16px;
    width: 400px;
    justify-content: space-between;
}
.mailSmtpInputs{
    width: 250px;
    height: 36px;
    border: 1px solid #5f85bd;
    padding: 2px ;
    border-radius: 5px;
    margin-left: 15px;
}
.mailLabel{
    width: 120px;
}
.mailLabel{

}
#mailAddressInputLabel, #mailPasswordInputLabel{
    font-size: 16px;
    color: white;
    width: 100px;
    display: block;
}
#saveMailAccountButton{

}
#inputsContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
}
/* Genel Mail Ayarları Kısmının Kodları */