#generalSmsSettingsLayout{
    width: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
#mainSmsContainer{
    width: 650px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ADC1DF;
    align-items: center;
    border-radius: 20px;
}
.secondarySmsContainer{
    width: 420px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.smsText{
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.smsLabel{
    font-size: 14px;
    font-weight: 700;
    color: #5F85BD;
}
.smsInput{
    width: 240px;
    height: 40px;
    border-radius: 10px;
    padding-left: 5px;
    box-sizing: border-box;
    color: white !important;
    background-color: #5F85BD !important;
    border: none !important;
}
.buttonContainer{
    justify-content: center;
}
#saveSmsSettingsButton{
    width: 150px;
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    color: white;
    background-color: #1BD352;
    border: 1px solid #1BD352;
    border-radius: 10px;
    transition: .3s all ease;
}
#saveSmsSettingsButton:hover{
    color: #1BD352;
    background-color: white;
}
#saveSmsSettingsButton:active{
    transform: scale(1.05);
}


#smsTemplatesMainContainer{
    min-height: 250px;
    padding-top: 25px;
    width: 950px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#smsTemplatesLeftContainer{
    width: 700px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#smsTemplatesLeftContainer > div{
    margin-bottom: 20px;
}
#newsmsRuleContainer{
    min-width: 400px;
}
#definedsmsRulesContainer{
    width: 700px;
}
#smsTemplatesRightContainer{
    width: 250px;
    min-height: 250px;
    margin-right: 20px;
}


#smsMessageSettingsLayout{
    width: 950px;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#smsMessageLeftBar{
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#smsMessageLeftBarHeader{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#smsMessageLeftBarHeaderText{
    margin-right: 65px; 
    font-size: 18px;
    color: #5F85BD;
    font-weight: 500;
}
#smsMessageSaveButton{
    width: 100px;
    height: 40px;
    background-color: #1BD352;
    border: 1px solid #1BD352;
    color: white;
    transition: .3s all ease;
    font-size: 14px;
    border-radius: 10px;
}
#smsMessageSaveButton:hover{
    background-color: white;
    color:#1BD352;
}
#smsMessageSaveButton:active{
    transform: scale(1.05);
}
#smsMessageTextArea{
    background-color: #ADC1DF;
    padding: 10px;
    color: white;
    border: none;
    width: 550px;
    height: 200px;
    margin-top: 20px;
}
#smsMessageRightBar{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#smsMessageRightBar > div{
    margin: 20px 0;
}



#recipeAddContainer{
    display:flex;
    border: 2px dashed black;
    justify-content:center;
    align-items:center;
    opacity:.5;
    cursor:pointer;
}
#recipeAddContainer, #recipeInputContainer{
    width:300px;
    height:40px;
    padding:0;
}
.smsRecipientsContainerHeader{
    font-size: 20px;
}
.recipeAddPlus{
    font-size:30px;
    font-weight:900;
}
#recipeAddContainer:hover{
    opacity:1;
}

#recipeInputContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
#recipeAddInput{
    width: 270px;
    box-sizing: border-box;
    height: 100%;
}
#recideAddPlusContainer{
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
}
#recideAddPlusContainer:hover{
    background-color: green;
    color: white;
}
#smsRecipientsContainer{
    width: 300px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 30px;
}
.smsRecipientsItem{
    width: 300px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    position: relative;
}
.smsRecipientsItem:after{
    content: 'X';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    display: none;
    font-size: 26px;
}
.smsRecipientsItem:hover{
    color: red;
}
.smsRecipientsItem:hover:after{
    display: block;
}
#smsRecipientsItems{
    width: 300px;
    min-height: 0;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.smsRecipientsItemDefault{
    margin-bottom:10px;
    margin-top: 10px;
}